@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

@font-face {
  font-family: "Dancing Script";
  src: url("fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "CMU";
  src: url("fonts/CMU_Typewriter_Text_BoldItalic.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Old";
  src: url("fonts/a_OldTyperNr_Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}
