body {
  background: url("img/bg.jpg") no-repeat;
  background-color: rgb(188, 185, 208, 0.7);
  background-size: 100% 55%;
  margin: 0px;
}
@font-face {
  font-family: "Dancing Script";
  src: url("fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  padding: 15px;
  text-align: center;
  margin: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 15px;
  /* border-radius: 15px; */
}

.header h1 {
  display: inline;
  font-family: "Dancing Script";
  background-repeat: no-repeat;
  background-position: center bottom -13px;
  background-size: 100% 15px;
  border-radius: 10px;
  background-image: linear-gradient(to left, rgb(238, 255, 0), rgb(47, 0, 255));
}
.main-block {
  margin: 50px;

}
.main-text {
  position: relative;
  top: 15px;
  text-align: center;
  color: #ffffff;
}

.video-text {
  position: relative;
  left: 30%;
}

.video {
  border-radius: 50%;
  border: 6px;
  position: relative;
  left: 2%;
  top: -150px;
}

.button-help {
  position: relative;
  top: 250px;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 45%;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.button-help:hover {
  background: #2e7de5;
  box-shadow: 0 15px 20px rgba(239, 253, 44, 0.726);
  color: white;
  transform: translateY(-7px);
}

.main-buttons {
  position: relative;
  top: 100px;
  text-align: center;
}

.button-1 {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.button-1:hover {
  background: #2e7de5;
  box-shadow: 0 15px 20px rgba(239, 253, 44, 0.726);
  color: white;
  transform: translateY(-7px);
}

.button-2 {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.button-2:hover {
  background: #fcff41;
  box-shadow: 0 15px 20px rgba(46, 110, 229, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

/* FOOTER */
.footer-bs {
  margin: 15px;
  background-color: rgba(215, 227, 243, 0.295);
  padding: 60px 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-info h2 {
  margin: 0px 0px 10px;
}
.footer-bs .footer-info p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.671);
}
