.intro {
  width: 100%;
  height: 800px;
  padding-top: 200px;

  color: white;
  font-size: 100px;
  text-align: center;
  font-family: "Rubik Moonrocks", cursive;
}

.intro_title {
  margin-top: 200px;
}
